@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(252, 252, 252); font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
}


header {
    background-color: #6596DB;
    padding: 20px;
    margin: 0px;
    min-height: 19px;
  
}

header h1 {
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 2em;
    text-shadow: 2px 0px rgba(0, 0, 0, 0.466);
    text-align: center;
}

nav {
    text-align-last: center;
    font-size: 18px;
}

header > nav  a {

        color: rgb(255, 255, 255);
        padding: 15px;
        text-decoration: none;
        font-weight: bold;
        transition-duration: .5s;
        text-align: center;
}


nav > a {
    color: rgb(100, 30, 30);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: #7F65DB;
    color: #2A224A;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 100px;
    padding: 40px;
    background: white;
    box-shadow: 0px 0px .5px rgba(0, 0, 0, 0.507);
    border-radius: 10px;
    border-bottom-right-radius: 10px;

}
main img {
    width: 100%;
}

main h1 {
    font-weight: bolder;
   font-family: 'Work Sans',sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

main h2 {
    font-weight: large;
}

main h3 {
    font-weight: large;
}

main p {

    color: rgb(0, 0, 0); text-align: justify;
    font-size: larger;
}


main ol {
    color: rgb(0, 0, 0);
    font-size: large;
} 

a {
    color:rgb(55, 42, 70);
}
ul {
    color: rgb(0, 0, 0);
}

.audio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;            
  margin: 0; 
}
img {
    font-size: medium;  text-align: center;
   max-width: 100%;
   height: auto;
   display: block;
   margin: 0 auto;
}
video {
    font-size: medium;  text-align: center;
    width: 90%;
    align-items: center;
   max-width: 100%;
   position: relative;
   justify-content: center;
   height: auto;
   display: block;
   margin:  auto;
   max-width: 800px;
   
}

.pdf {
    text-align: center;
}

footer {
    background-color: #3c5c88;
    margin: 0px;
    padding: 1px;
}

footer p {
    color: white;
    margin: 3px;
    text-align: center;
}